{%extends 'base.html'%}
{%load static%}
{%block content%}
    <!-- Main Section Start -->
			<div class="main-section pt-5">
				<div class="page-section">
					<div class="container">
						<div class="row">
							
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home">
                                            <i class="fa fa-shopping-cart text-info"></i>
                                            Billing Address</a>
                                        </li>
										
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane in active">
											<div class="menu-itam-holder">
												
												<div id="menu-item-list-6272" class="menu-itam-list">
													<form action="{%url 'place_order'%}" method="POST">
                                                        {% csrf_token %}

                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                First Name: {{form.first_name}}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                Last Name: {{form.last_name}}
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                Phone number: {{form.phone}}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                Email address: {{form.email}}
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-12 col-sm-12 col-lg-12">
                                                                Address: {{form.address}}
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                Country: {{form.country}}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                State: {{form.state}}
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                City: {{form.city}}
                                                            </div>
                                                            <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                                Pin code: {{form.pin_code}}
                                                            </div>
                                                        </div>

												</div>
												
											</div>
										</div>
										
									</div>
								</div>
							</div>


                            <!--Your order section-->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="tabs-holder horizontal">
									<ul class="stickynav-tabs nav nav-tabs">
										<li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your order</a></li>
										
									</ul>
									<div class="tab-content">
										<div id="home" class="tab-pane in active">
											<div class="menu-itam-holder">
                                                <div id="menu-item-list-6272" class="menu-itam-list">
													
													<ul>	
                                                        {% for item in cart_items %}
														<li id="cart-item-{{item.id}}">
															<div class="image-holder"> <img src="{{item.fooditem.image.url}}" alt=""></div>
															<div class="text-holder">
																<h6>{{item.fooditem}}</h6>
																<span>{{item.fooditem.description}}</span>
																<a href="{% url 'vendor_detail' item.fooditem.vendor.vendor_slug %}" class="badge badge-warning">{{item.fooditem.vendor}} Restaurant</a>
															</div>
                                                            <div class="quantity" style="display: inline-block; position: absolute; top:50%; transform: translateY(-80%); color: blue;">
                                                                <span>{{item.quantity}} QTY</span>
                                                            </div>
															<div class="price-holder">
																<span class="price">${{item.fooditem.price}}</span>	
															</div>
														</li>
                                                        {%endfor%}
													</ul>
												  
												</div>
												<div>
                                                    <ul>
                                                        <li style="list-style-type: none;">
                                                            subtotal
                                                            <span class="price float-right">
                                                                <span class="currency">$</span>
                                                                <span id="subtotal">{{subtotal}}</span>
                                                            </span>
                                                        </li>
														{%for key, value in tax_dict.items%}
															{%for i, j in value.items%}
															<li style="list-style-type: none;">
																{{key}} <small>({{ i }}%)</small>
																<span class="price float-right">
																	<span class="currency">$</span>
																	<span id="tax-{{key}}">{{j}}</span>
																</span>
															</li>
															{%endfor%}
														{%endfor%}
                                                        <li style="list-style-type: none; font-weight:600;">
                                                            Total
                                                            <span class="price float-right">
                                                                <span class="currency">$</span>
                                                                <span id="total">{{grand_total}}</span>
                                                            </span>
                                                        </li>
														<hr/>
                                                        <h5> Select payment methods</h5>
                                                        <div class="payment-method">
                                                            <label style="cursor: pointer; outline:2px solid red; padding: 8px;">
                                                                <input type="radio" name="payment_method" value="paypal">
                                                                <img width="100" src="{% static 'images/PayPal.png' %}" alt="Paypal"/>
                                                            </label>
                                                                 &nbsp;&nbsp;| &nbsp;&nbsp;
                                                            <label style="cursor: pointer; outline:2px solid red; padding: 8px;">
                                                                <input type="radio" name="payment_method" value="RazorPay">
                                                                <img width="100" src="{% static 'images/razorpay_logo.png' %}" alt="razorpay"/>
                                                            </label>
                                                        </div>
                                                        <span class="text-danger" id="payment-method-error">
                                                        <span>
														<button onclick="return payMethodConfirm();" type="submit" class="w-100 p-2 mt-2 mb-2 btn btn-sm btn-danger float-right">Place Order</button>
														
                                                    </ul>

                                                </form>
                                                </div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
                            <!--End of your order section-->
							
						</div>
					</div>
				</div>
			</div>
            <script>
                function payMethodConfirm(){
                    var payMethod = $("input[name='payment_method']:checked").val()
                    if(!payMethod){
                       $('#payment-method-error').html('Select Payment Method.')
                       return false
                    }else{
                        var conf = confirm('You have selected '+payMethod+' as your preferred payment methos.\n Click "OK" to continue.')
                        if(conf == true){
                           return true; 
                        }else{
                            return false;
                        }
                    }
                }
                $('input[name=payment_method]').on('change', function(){
                    $('##payment-method-error').html('');
                })
            </script>
			<!-- Main Section End -->
{%endblock%}